.advantages {
  @media (min-width: $tablet) {
    position: relative;

    &::after {
      content: "";
      display: block;
      background: $color-line;
      height: 1px;
      width: 100%;
      margin-top: -9px;

      @media (min-width: $desktop) {
        content: none;
      }
    }
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 2px;
}

.advantages__header {
  font-family: $base-font-header;
  font-size: $base-font-header-h2-size;
  line-height: $base-font-header-h2-lh;
  font-weight: $base-font-header-wn;
  color: $color-header;
  margin-top: 19px;
  margin-bottom: 7px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 15px;
  }

  @media (min-width: $desktop) {
    margin-top: 42px;
  }
}

.advantages__list {
  @include ul-reset();
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: num-pp;
  }
}

.advantages__item {
  margin-top: 20px;
  padding-left: 80px;
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet) {
    flex-basis: 35%;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 112px;
    margin-top: 64px;
    margin-bottom: 69px;
    margin-right: 78px;
  }

  @media (min-width: $desktop) {
    margin-right: 0;
    flex-basis: 245px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: $bg-green;
    width: 60px;
    height: 60px;

    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet) {
    &::after {
      counter-increment: num-pp; // фон из цифр на лишках
      content: counter(num-pp);
      display: block;
      position: absolute;
      top: -38px;
      right: 0;
      font-family: $base-font-header;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      color: $bg-gray;
      z-index: -10;
    }

    &:first-child::after {
      right: 20px;

      @media (min-width: $desktop) {
        right: 18px;
      }
    }
  }

  &--leaf {
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../img/advantage-leaf@1x.png");
      background-size: 50px;
      background-position: center;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }

    &::after {
      right: 19px;
    }
  }

  &--powder {
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../img/advantage-powder@1x.png");
      background-size: 50px;
      background-position: center;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }
  }

  &--dining {
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../img/advantage-dining@1x.png");
      background-size: 50px;
      background-position: center;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }
  }

  &--clock {
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../img/advantage-clock@1x.png");
      background-size: 50px;
      background-position: center;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }
  }
}
