.advantages__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.advantages__header {
  font-family: $base-font-header;
  font-size: $base-font-header-h2-size;
  line-height: $base-font-header-h2-lh;
  font-weight: $base-font-header-wn;
  margin-top: 33px;
  margin-bottom: 23px;

  @include adaptive($tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  @include ul-reset;

  @include adaptive($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantages__item {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 80px;
  position: relative;

  @include adaptive($tablet-width) {
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 90px;
    margin-bottom: 100px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    background: $bg-green;
    width: 60px;
    height: 60px;
  }

  &--leaf {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      background-image: url("../../img/advantage-leaf@1x.png");
      width: 50px;
      height: 50px;
    }

    &::after {
      @include adaptive($tablet-width) {
        content: "1";
        display: block;
        position: absolute;
        top: -35px;
        right: 0;
        font-family: $base-font-header;
        font-size: 281px;
        line-height: 281px;
        font-weight: 400;
        color: $bg-gray;
        z-index: -10;
      }
    }
  }

  &--powder {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      background-image: url("../../img/advantage-powder@1x.png");
      width: 50px;
      height: 50px;
    }

    &::after {
      @include adaptive($tablet-width) {
        content: "2";
        display: block;
        position: absolute;
        top: -35px;
        right: 0;
        font-family: $base-font-header;
        font-size: 281px;
        line-height: 281px;
        font-weight: 400;
        color: $bg-gray;
        z-index: -10;
      }
    }
  }

  &--dining {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      background-image: url("../../img/advantage-dining@1x.png");
      width: 50px;
      height: 50px;
    }

    &::after {
      @include adaptive($tablet-width) {
        content: "3";
        display: block;
        position: absolute;
        top: -35px;
        right: 0;
        font-family: $base-font-header;
        font-size: 281px;
        line-height: 281px;
        font-weight: 400;
        color: $bg-gray;
        z-index: -10;
      }
    }
  }

  &--clock {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      background-image: url("../../img/advantage-clock@1x.png");
      width: 50px;
      height: 50px;
    }

    &::after {
      @include adaptive($tablet-width) {
        content: "4";
        display: block;
        position: absolute;
        top: -35px;
        right: 0;
        font-family: $base-font-header;
        font-size: 281px;
        line-height: 281px;
        font-weight: 400;
        color: $bg-gray;
        z-index: -10;
      }
    }
  }
}
