.before-after {
  background: $bg-gray;
}

.before-after__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include adaptive($desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.before-after__header {
  font-family: $base-font-header;
  font-size: $base-font-header-h2-size;
  line-height: $base-font-header-h2-lh;
  font-weight: $base-font-header-wn;
  margin-top: 33px;
  margin-bottom: 40px;

  @include adaptive($tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.before-after__info {
  margin: 0;
  margin-bottom: 30px;

  @include adaptive($tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.before-after__result-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.before-after__result-wrapper-outer {
  @include adaptive($tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include adaptive($desktop-width) {
    display: block;
  }
}

.before-after__result-data {
  font-family: $base-font-header;
  font-size: 24px;
  line-height: 24px;
  font-weight: $base-font-header-wn;

  @include adaptive($tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.before-after__total {
  font-family: $base-font-header;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @include adaptive($tablet-width) {
    font-size: 20px;
    line-height: 20px;
    max-width: 192px;
    text-align: right;
  }

  @include adaptive($desktop-width) {
    max-width: 330px;
    text-align: left;
  }
}

.before-after__total-money {
  @include adaptive($desktop-width) {
    margin-left: 60px;
  }
}
