.catalog-extra {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    width: 100%;
    height: 3px;
    background: $bg_green;
    z-index: -10;
  }

  @media (min-width: $tablet) {
    margin-bottom: 40px;

    &::before {
      top: 22px;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.catalog-extra__header-wraper {
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 70px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    padding: 0;
    margin: 0 auto;
  }
}

.catalog-extra__header {
  font-family: $base-font-header;
  font-size: 24px;
  line-height: 24px;
  font-weight: $base-font-header-wn;
  margin-top: 30px;
  background: $bg-body;
  width: 230px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 18px;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    width: 350px;
    font-size: 36px;
    line-height: 36px;
    margin-left: -40px;
    padding-left: 38px;
    padding-right: 22px;
    margin-top: 68px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 80px;
    margin-left: -40px;
    margin-top: 75px;
    padding-left: 40px;
    padding-right: 24px;
  }
}

.catalog-extra__wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog-extra__list {
  @include ul-reset();
  margin-top: 34px;

  @media (min-width: $tablet) {
    margin-top: 80px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
  }
}

.catalog-extra__item {
  border: 1px solid $color-line;
  padding-top: 10px;
  padding-bottom: 15px;
  border-left: none;
  border-right: none;

  &:not(:last-child) {
    border-bottom-color: transparent;
  }

  @media (min-width: $tablet) {
    padding-top: 25px;
    padding-bottom: 25px;
    border-left: 1px solid $color-line;
    border-right: 1px solid $color-line;
  }

  @media (min-width: $desktop) {
    border-left: none;
    border-right: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.catalog-extra__item-container {
  @media (min-width: $tablet) {
    margin-left: 38px;
    margin-right: 38px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
}

.catalog-extra__item-wraper {
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.catalog-extra__item-header {
  font-family: $base-font-header;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: $base-font-header-wn;
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    width: 285px;
    margin-right: 40px;
    margin-top: 10px;
  }
}

.catalog-extra__item-data-sheet {
  width: 100%;
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    width: 280px;
    margin-top: 5px;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop) {
    width: 285px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.catalog-extra__item-data-sheet td {
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet) {
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }

  &:last-child {
    text-align: right;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      width: 87px;
    }
  }
}

.catalog-extra__item-button {
  @media (min-width: $desktop) {
    width: 245px;
  }
}

.catalog-extra__gift {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  min-height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-bottom: 34px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    margin-top: 70px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 245px;
    min-height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.catalog-extra__gift__icon {
  fill: #ffffff;
  margin-top: 68px;
  align-self: center;

  @media (min-width: $tablet) {
    margin-left: 88px;
    align-self: start;
  }

  @media (min-width: $desktop) {
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
  }
}

.catalog-extra__gift-info {
  color: $color-text-white;
  font-size: 16px;
  line-height: 20px;
  margin: 60px auto 10px auto;
  width: 170px;

  @media (min-width: $tablet) {
    margin-top: 73px;
    margin-right: 115px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  span {
    display: block;
  }
}
