.catalog-extra {
  border: $tmp-border3;

  &__wrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  &__header {
    font-family: $base-font-header;
    font-size: 24px;
    line-height: 24px;
    font-weight: $base-font-header-wn;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item::before {
    content: "";
    display: block;
    background: $color-line;
    height: 1px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  &__item:last-child::after {
    content: "";
    display: block;
    background: $color-line;
    height: 1px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 15px;
  }

  &__item-header {
    font-family: $base-font-header;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: $base-font-header-wn;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__item-data-sheet {
    width: 100%;
  }

  &__item-data-sheet td {
    font-size: 14px;
    line-height: 14px;
  }

  &__item-data-sheet td:last-child {
    text-align: right;
  }

  &__gift {
    margin-top: 40px;
    min-height: 289px;
    background-image: url("../../img/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
    text-align: center;
  }

  &__gift-info {
    color: $color-text-light;
    font-size: 16px;
    line-height: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 188px;
  }
}
