.categories__wrapper {
  display: flex;
  margin: 0 auto;
}

.categories__list {
  @include ul-reset();
  display: block;

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.categories__item {
  background: $bg-gray;
  margin-top: 22px;
  padding: 33px 20px 18px 20px;
  position: relative;

  @media (min-width: $tablet) {
    margin: 0;
    margin-bottom: 30px;
    padding: 50px 20px 60px 50px;
  }

  @media (min-width: $desktop) {
    min-width: 500px;
    width: 50%;
  }

  &:first-child {
    @media (min-width: $desktop) {
      margin-right: 80px;
    }
  }
}

.categories__item-header {
  font-family: $base-font-header;
  font-size: $base-font-header-h3-size;
  line-height: $base-font-header-h3-lh;
  font-weight: $base-font-header-wn;
  color: $color-header;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 37px;
    padding-left: 0;
  }

  @media (min-width: $desktop) {
    margin-left: 160px;
    margin-top: 25px;
  }

  &--slim {
    margin-top: -2px;
    margin-bottom: 28px;

    @media (min-width: $tablet) {
      margin-top: 27px;
      margin-bottom: 25px;
    }

    @media (min-width: $desktop) {
      margin-top: 30px;
      padding-left: 4px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 25px;
      left: 22px;
      background: $bg-green;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      @media (min-width: $tablet) {
        left: unset;
        top: 92px;
        right: 62px;
        width: 200px;
        height: 200px;
      }

      @media (min-width: $desktop) {
        top: 50px;
        left: 50px;
        right: unset;
        width: 100px;
        height: 100px;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 23px;
      left: 30px;
      background-image: url("../img/icon-cat-slim.svg");
      width: 35px;
      height: 49px;

      @media (min-width: $tablet) {
        left: unset;
        top: 80px;
        right: 90px;
        width: 141px;
        height: 195px;
      }

      @media (min-width: $desktop) {
        top: 45px;
        left: 65px;
        right: unset;
        width: 70px;
        height: 97px;
      }
    }
  }

  &--pro {
    margin-top: -5px;
    margin-bottom: 28px;

    @media (min-width: $tablet) {
      margin-top: 27px;
      margin-bottom: 25px;
    }

    @media (min-width: $desktop) {
      margin-top: 30px;
      padding-left: 4px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 22px;
      left: 22px;
      background: $bg-green;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      @media (min-width: $tablet) {
        left: unset;
        top: 92px;
        right: 60px;
        width: 200px;
        height: 200px;
      }

      @media (min-width: $desktop) {
        top: 50px;
        left: 50px;
        right: unset;
        width: 100px;
        height: 100px;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 32px;
      left: 12px;
      background-image: url("../img/icon-cat-pro.svg");
      width: 67px;
      height: 28px;

      @media (min-width: $tablet) {
        left: unset;
        top: 135px;
        right: 28px;
        width: 268px;
        height: 112px;
      }

      @media (min-width: $desktop) {
        top: 75px;
        left: 34px;
        right: unset;
        width: 133px;
        height: 56px;
      }
    }
  }
}

.categories__item-info {
  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  &--slim {
    @media (min-width: $tablet) {
      margin-right: 260px;
    }
  }

  &--pro {
    @media (min-width: $tablet) {
      margin-right: 295px;
    }
  }

  @media (min-width: $desktop) {
    margin-top: 75px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &::after {
    content: "";
    display: block;
    background: $color-line;
    height: 2px;
    width: 100%;
    margin-top: 21px;
    margin-bottom: 20px;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.categories__item-link {
  font-family: $base-font-header;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-header;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/icon-right-arrow-long.svg");
    width: 22px;
    height: 10px;
    margin-left: 12px;
    margin-top: -6px;

    @media (min-width: $tablet) {
      margin-left: 27px;
    }
  }

  &:hover::after {
    width: 29px;
    height: 10px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    color: $color-header-active;
  }

  &:active::after {
    width: 29px;
    height: 10px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    opacity: 0.3;
  }
}
