.catalog-extra {
  @media (min-width: $tablet) {
    margin-bottom: 75px;
  }
}

.catalog-extra__wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog-extra__header {
  display: flex;
  align-items: center;
  font-family: $base-font-header;
  font-size: 24px;
  line-height: 24px;
  font-weight: $base-font-header-wn;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 70px;
  }

  &::before {
    @media (min-width: $tablet) {
      content: "";
      display: block;
      height: 3px;
      width: 30px;
      margin-left: -20px;
      margin-right: 23px;
      background: $bg_green;
      flex-shrink: 0;
    }

    @media (min-width: $desktop) {
      width: 90px;
    }
  }

  &::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    margin-left: 23px;
    background: $bg_green;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.catalog-extra__list {
  @include ul-reset();
}

.catalog-extra__item {
  &::before {
    content: "";
    display: block;
    background: $color-line;
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;

    @media (min-width: $desktop) {
      margin-top: 15px;
    }
  }

  &:last-child::after {
    content: "";
    display: block;
    background: $color-line;
    height: 1px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 35px;

    @media (min-width: $desktop) {
      margin-top: 15px;
    }
  }
}

.catalog-extra__item-container {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.catalog-extra__item-wraper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.catalog-extra__item-header {
  font-family: $base-font-header;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: $base-font-header-wn;
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    width: 245px;
    margin-right: 80px;
  }
}

.catalog-extra__item-data-sheet {
  width: 100%;

  @media (min-width: $tablet) {
    width: 280px;
  }

  @media (min-width: $desktop) {
    width: 285px;
    margin-right: 80px;
  }
}

.catalog-extra__item-data-sheet td {
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet) {
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }

  &:last-child {
    text-align: right;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      width: 95px;
    }
  }
}

.catalog-extra__item-button {
  @media (min-width: $desktop) {
    width: 245px;
  }
}

.catalog-extra__gift {
  position: relative;
  margin-top: 40px;
  min-height: 289px;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  text-align: center;

  @media (min-width: $tablet) {
    width: 100%;
    min-height: 200px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    background-size: cover;
    margin-top: 60px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    width: 245px;
    min-height: 289px;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 55px;
    height: 60px;
    background-image: url("../../img/icon-gift.svg");
  }
}

.catalog-extra__gift-info {
  color: $color-text-white;
  font-size: 16px;
  line-height: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 188px;

  @media (min-width: $tablet) {
    margin-top: 70px;
    width: 170px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin-top: 189px;
    text-align: center;
  }
}
