.contacts {
  background: $bg-body;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    //padding-top: 68px;
    background: $bg-gray;
  }

  @media (min-width: $desktop) {
    position: relative;
  }
}

.contacts__wrapper {
  display: flex;
  margin: 30px auto;
  justify-content: space-between;

  @media (min-width: $tablet) {
    margin: 0 auto 30px auto;
    padding-top: 30px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 95px;
    left: 0;
    width: 570px;
    height: 71px;
    background: $bg-body;
    margin: 0;
    margin-left: 110px;
    padding: 65px 68px 64px 75px;
  }
}

.contacts__welcom {
  font-family: $base-font-header;
  font-size: 16px;
  line-height: 20px;
  font-weight: $base-font-header-wn;
  text-transform: uppercase;
  margin: 0;
  margin-right: 18px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 25px;
    width: 180px;
  }
}

.contacts__addres {
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
    width: 180px;
    text-align: right;
  }
}

.contacts__city {
  @media (min-width: $tablet) {
    display: block;
    margin-top: 20px;
  }
}

.contacts__map {
  min-height: 364px;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet) {
    min-height: 395px;
    background-image: url("../../img/bg-map-tablet@1x.png");
  }

  @media (min-width: $desktop) {
    min-height: 402px;
    background-image: url("../../img/bg-map-desktop@1x.png");
  }
}
