.contacts {
  background: $bg-gray;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    position: relative;
  }

  &--index {
    background: $bg-body;
  }
}

.contacts__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop) {
    position: relative;
    background: transparent;
    margin: 0 auto;
    padding: 0;
    height: 1px;
  }
}

.contacts__wrapper-small {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;

  @media (min-width: $desktop) {
    position: absolute;
    top: 94px;
    width: 570px;
    background: $bg-body;
    justify-content: start;
  }
}

.contacts__welcom {
  font-family: $base-font-header;
  font-size: 16px;
  line-height: 20px;
  font-weight: $base-font-header-wn;
  color: $color-header;
  text-transform: uppercase;
  margin: 0;
  margin-right: 18px;
  width: 180px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    margin: 60px 65px;
  }
}

.contacts__addres {
  line-height: 20px;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 180px;
  }

  @media (min-width: $desktop) {
    margin: 60px 65px 60px 0;
    text-align: left;
  }
}

.contacts__city {
  @media (min-width: $tablet) {
    display: block;
    margin-top: 20px;
  }
}

.contacts__map {
  min-height: 364px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet) {
    min-height: 395px;
    background-image: url("../img/bg-map-tablet@1x.png");
  }

  @media (min-width: $desktop) {
    min-height: 402px;
    background-image: url("../img/bg-map-desktop@1x.png");
  }
}
