.form-eating {
  @media (min-width: $desktop) {
    margin-bottom: 80px;
  }
}

.form-eating__header {
  font-family: $base-font-header;
  font-size: $base-font-header-h2-size;
  line-height: $base-font-header-h2-lh;
  font-weight: $base-font-header-wn;
  color: $color-header;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.form-eating__wraper-tablet {
  @media (min-width: $tablet) AND (max-width: $tablet-only) {
    padding: 0 67px 0 70px;
    margin: 0 auto;
  }
}

.form-eating__wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  &--dopinfo {
    @media (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }

  &--catname {
    @media (min-width: $desktop) {
      padding: 0;
      margin: 0;
      flex-basis: 50%;
    }
  }
}

.form-eating__info {
  font-family: $base-font-header;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-header;
  margin: 0;
  margin-bottom: 36px;
  width: 240px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    width: 345px;
    margin-top: 20px;
  }
}

.form-eating__container-main-data {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.form-eating__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  &--border {
    @media (min-width: $tablet) {
      border: 1px solid $form-border;
      padding: 15px;
      height: 163px;
      box-sizing: border-box;
    }

    @media (min-width: $desktop) {
      margin-left: 50px;
      flex-basis: 50%;
    }
  }
}

.form-eating__label {
  font-family: $base-font-header;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-left: 0;
  flex-shrink: 0;
}

.form-eating__row-wrapper {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color: $color-text-form;

  &--dopinfo {
    @media (min-width: $tablet) {
      min-width: 286px;
      flex-basis: 50%;
    }

    @media (min-width: $desktop) {
      flex-basis: 25%;
    }
  }
}

.form-eating__hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 15px;
  margin-top: 5px;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.form-eating__fieldset-design {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 38px;
    width: 100%;
    height: 3px;
    background: $bg_green;
    z-index: -10;

    @media (min-width: $tablet) {
      top: 58px;
    }
  }
}

.form-eating__section-header {
  font-family: $base-font-header;
  font-size: 24px;
  line-height: 24px;
  font-weight: $base-font-header-wn;
  color: $color-header;
  background: $bg-body;
  width: 185px;
  margin-bottom: 30px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    width: 517px;
    margin-left: -40px;
    padding-left: 40px;
  }

  &--small1 {
    width: 125px;

    @media (min-width: $tablet) {
      width: 187px;
    }
  }

  &--small2 {
    width: 145px;

    @media (min-width: $tablet) {
      width: 215px;
    }
  }
}

.form-eating__input {
  width: 100%;
  height: 44px;
  padding: 10px;
  border: 1px solid $form-border;
  box-sizing: border-box;

  &::placeholder {
    font-family: $base-font-header;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.form-eating__input-radio {
  margin-right: 15px;
}

.form-eating__input-checkbox {
  margin-right: 15px;
}

.form-eating__textarea {
  width: 100%;
  height: 150px;
  padding: 14px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;

  &::placeholder {
    font-family: $base-font-header;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.form-eating__button-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;

    button {
      flex-basis: 40%;
    }
  }

  @media (min-width: $desktop) {
    margin-top: 40px;
  }
}

.form-eating__note {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    flex-basis: 50%;
  }
}
