.form-eating {
  @media (min-width: $desktop) {
    margin-bottom: 80px;
  }
}

.form-eating__header {
  font-family: $base-font-header;
  font-size: $base-font-header-h2-size;
  line-height: $base-font-header-h2-lh;
  font-weight: $base-font-header-wn;
  color: $color-header;
  margin-top: 0;
  margin-bottom: 25px;

  &::before {
    content: "";
    display: block;
    background: $color-line;
    height: 1px;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: 15px;

    @media (min-width: $tablet) {
      content: none;
    }
  }

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 50px;
  }

  @media (min-width: $desktop) {
    margin-top: 68px;
  }
}

.form-eating__wraper-tablet {
  @media (min-width: $tablet) AND (max-width: $tablet-only) {
    padding: 0 67px 0 70px;
    margin: 0 auto;
  }
}

.form-eating__wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  &--dopinfo {
    @media (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }

  &--catname {
    @media (min-width: $desktop) {
      padding: 0;
      margin: 0;
      margin-right: 40px;
      flex-basis: 50%;
    }
  }
}

.form-eating__info {
  font-family: $base-font-header;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-header;
  margin: 0;
  margin-bottom: 36px;
  width: 240px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    width: 345px;
    margin-top: 30px;
    margin-bottom: 62px;
  }
}

.form-eating__container-main-data {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    margin-bottom: -5px;
  }
}

.form-eating__fieldset {
  border: none;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0;

  &--border {
    @media (min-width: $tablet) {
      border: 1px solid $form-border;
      padding: 28px 28px 7px 28px;
      margin-top: 47px;
      margin-bottom: 45px;
    }

    @media (min-width: $desktop) {
      margin-left: 40px;
      flex-basis: 50%;
      margin-top: 0;
      align-self: start;
    }
  }

  input[type="radio"] {
    display: none;
  }
}

.form-eating__label {
  font-family: $base-font-header;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-left: 0;
  flex-shrink: 0;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1;
  }
}

.form-eating__row-wrapper {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color: $color-text-form;

  @media (min-width: $tablet) {
    padding-bottom: 7px;
  }

  &--part1 {
    margin-bottom: 7px;

    @media (min-width: $tablet) {
      padding-bottom: 0;
    }
  }

  &--dopinfo {
    margin-bottom: 13px;

    @media (min-width: $tablet) {
      min-width: 286px;
      flex-basis: 50%;
      margin-bottom: 16px;
    }

    @media (min-width: $desktop) {
      flex-basis: 25%;
    }
  }
}

.form-eating__label-radio {
  position: relative;
  padding-left: 45px;
  padding-top: 6px;
  min-height: 30px;

  @media (min-width: $tablet) {
    padding-left: 60px;
    min-height: 40px;
  }

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
    background: $bg-body;
    z-index: -10;

    @media (min-width: $tablet) {
      width: 38px;
      height: 38px;
    }
  }

  &:hover::before {
    border-color: #cfcfcf;
  }

  &:active::before {
    opacity: 0.3;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.form-eating__fieldset input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  transform: translateX(9px) translateY(9px);
  border-radius: 50%;
  border: none;
  background: $bg_green;

  @media (min-width: $tablet) {
    width: 17px;
    height: 17px;
    transform: translateX(11.5px) translateY(11px);
  }
}

.form-eating__hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 5px -20px 20px -20px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.form-eating__fieldset-design {
  border: none;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    width: 100%;
    height: 3px;
    background: $bg_green;
    z-index: -10;

    @media (min-width: $tablet) {
      top: 54px;
    }
  }

  input[type="checkbox"] {
    display: none;
  }
}

.form-eating__section-header {
  font-family: $base-font-header;
  font-size: 24px;
  line-height: 24px;
  font-weight: $base-font-header-wn;
  color: $color-header;
  background: $bg-body;
  width: 185px;
  margin-top: 10px;
  margin-bottom: 34px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 17px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    width: 517px;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 35px;
    margin-top: 30px;
    margin-bottom: 55px;
  }

  &--small1 {
    width: 125px;

    @media (min-width: $tablet) {
      width: 187px;
    }
  }

  &--small2 {
    width: 145px;

    @media (min-width: $tablet) {
      width: 215px;
    }
  }
}

.form-eating__wrapper-iname {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.form-eating__row-wrapper-iname {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: $desktop) {
    flex-basis: 50%;

    &--margin {
      margin-right: 140px;
    }
  }
}

.form-eating__height-fix1 {
  padding-top: 23px;
  margin-bottom: 9px;
}

.form-eating__input {
  width: 100%;
  height: 44px;
  padding: 12px;
  border: 1px solid $form-border;
  box-sizing: border-box;

  &:hover {
    border: 1px solid #cfcfcf;
  }

  &:active {
    border: 1px solid #444444;
  }

  &:focus {
    border: 1px solid #444444;
  }

  &::placeholder {
    font-family: $base-font-header;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 1;
    }
  }

  @media (min-width: $tablet) {
    height: 50px;
  }
}

.form-eating__textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    height: 173px;
  }

  &:hover {
    border: 1px solid #cfcfcf;
  }

  &:active {
    border: 1px solid #444444;
  }

  &:focus {
    border: 1px solid #444444;
  }

  &::placeholder {
    font-family: $base-font-header;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 1;
    }
  }
}

.form-eating__label-checkbox {
  position: relative;
  padding-left: 45px;
  padding-top: 6px;
  min-height: 23px;

  @media (min-width: $tablet) {
    padding-left: 58px;
    min-height: 40px;
    padding-top: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border: 1px solid #e7e7e7;
    background: $bg-body;
    z-index: -10;

    @media (min-width: $tablet) {
      width: 38px;
      height: 38px;
    }
  }

  &:hover::before {
    border-color: #cfcfcf;
  }

  &:active::before {
    opacity: 0.3;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.form-eating__fieldset-design input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 9px;
  height: 17px;
  border-right: 1px solid $bg_green;
  border-bottom: 1px solid $bg_green;
  transform: translateX(10px) translateY(-13px) rotate(45deg);

  @media (min-width: $tablet) {
    width: 12px;
    height: 20px;
    transform: translateX(14px) translateY(-18px) rotate(45deg);
  }
}

.form-eating__button-wrapper {
  margin-top: 25px;

  @media (min-width: $tablet) {
    display: flex;
    margin-top: 20px;
    margin-bottom: 70px;

    button {
      flex-basis: 47%;
    }
  }

  @media (min-width: $desktop) {
    margin-top: 40px;
  }
}

.form-eating__note {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    flex-basis: 50%;
    align-self: center;
  }
}
