.page-footer {
  background: $bg-gray;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 149px;
    align-items: center;
  }
}

.page-footer__logo {
  margin: 0 auto 26px auto;
  transition: 0.5s;

  @media (min-width: $tablet) {
    margin: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
