.page-header {
  @media (min-width: $desktop) {
    position: relative;
    padding-top: 50px;
  }
}

.page-header__index {
  &::after {
    @media (min-width: $desktop) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 696px;
      background: $bg_green;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -10;
    }
  }
}

@media (min-width: $desktop) {
  .page-header__index .main-nav__link {
    color: $color-header-index;

    &:hover {
      color: $color-header-hover-index;
    }

    &:active {
      color: $color-header-active-index;
    }

    &::before {
      background: $color-header-index;
    }
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}
