.social-buttons {
  &::before {
    content: "";
    display: block;
    background: $color-line;
    height: 2px;
    width: 100%;
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      content: none;
    }
  }

  &::after {
    content: "";
    display: block;
    background: $color-line;
    height: 2px;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 30px;

    @media (min-width: $tablet) {
      content: none;
    }
  }
}

.social-buttons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-buttons__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
