.social-buttons {
  &::before {
    content: "";
    display: block;
    background: $color-line;
    height: 1px;
    width: 100%;
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      content: none;
    }
  }

  &::after {
    content: "";
    display: block;
    background: $color-line;
    height: 1px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;

    @media (min-width: $tablet) {
      content: none;
    }
  }
}

.social-buttons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-buttons__item {
  &:not(:last-child) {
    margin-right: 37px;
  }
}

.social-buttons__icon {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }

  &--vk {
    width: 22px;
    height: 12px;

    @media (min-width: $tablet) {
      width: 30px;
      height: 16px;
    }
  }

  &--insta {
    width: 16px;
    height: 16px;

    @media (min-width: $tablet) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    width: 10px;
    height: 19px;

    @media (min-width: $tablet) {
      width: 15px;
      height: 28px;
    }
  }
}
