body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: $base-font-text;
  font-size: $base-font-text-size;
  line-height: $base-font-text-lh;
  font-weight: $base-font-text-w;
  color: $color-text;
  background-color: $bg-body;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.block-width {
  padding: 0 20px;

  @media (min-width: $tablet) {
    width: auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    padding: 0;
    margin: 0 auto;
  }
}
