@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: $base-font-text;
  font-size: $base-font-text-size;
  line-height: $base-font-text-lh;
  font-weight: $base-font-text-w;
  color: $color-text;
  background-color: $bg-body;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  overflow: hidden;
}

.block-width {
  width: auto;
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
}

.container {
  display: block;
  width: auto;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 68px 0 70px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
}
