$bg-body: #ffffff;
$bg_green: #68b738;
$bg-green-dark: #5eaa2f;
$bg-gray: #f2f2f2;
$bg-gray-dark: #ebebeb;
$outline: #f8e403;

$desktop: 1300px;
$tablet: 768px;
$tablet-only: 1299px;
$mobile: 320px;
$mobile-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$base-font-header: "Oswald", "Arial", sans-serif;

$base-font-header-h1-size: 36px;
$base-font-header-h1-lh: 36px;

$base-font-header-h2-size: 36px;
$base-font-header-h2-lh: 60px;

$base-font-header-h3-size: 24px;
$base-font-header-h3-lh: 37px;

$base-font-header-wn: 400;
$base-font-header-wb: 500;

$base-font-text: "Arial", sans-serif;

$base-font-text-size: 14px;
$base-font-text-lh: 18px;
$base-font-text-w: normal;

$color-header: rgba(17, 17, 17, 1);
$color-header-hover: rgba(17, 17, 17, 0.6);
$color-header-active: rgba(17, 17, 17, 0.3);

$color-header-index: rgba(255, 255, 255, 1);
$color-header-hover-index: rgba(255, 255, 255, 0.6);
$color-header-active-index: rgba(255, 255, 255, 0.3);

$color-text: rgba(68, 68, 68, 1);
$color-text-light: rgba(68, 68, 68, 0.3);
$color-text-white: #ffffff;
$color-text-form: #222222;

$color-line: rgba(0, 0, 0, 0.1);

$form-border: #e7e7e7;

$tmp-border1: 1px solid rgba(115, 255, 71, 0.95);
$tmp-border2: 1px solid rgba(32, 84, 255, 0.95);
$tmp-border3: 1px solid rgba(255, 132, 27, 0.95);
