$bg-body: #ffffff;
$bg_green: #68b738;
$bg-gray: #f2f2f2;

$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;

$block-width100: 100%;
$block-width-mobile: 280px; // можно удалить потом

$base-font-header: "Oswald", sans-serif;

$base-font-header-h1-size: 36px;
$base-font-header-h1-lh: 36px;

$base-font-header-h2-size: 36px;
$base-font-header-h2-lh: 60px;

$base-font-header-h3-size: 24px;
$base-font-header-h3-lh: 37px;

$base-font-header-wn: 400;
$base-font-header-wb: 500;

$base-font-text: "Arial", sans-serif;

$base-font-text-size: 14px;
$base-font-text-lh: 18px;
$base-font-text-w: normal;

$color-header: #111111;
$color-text: #444444;
$color-text-light: #ffffff;
$color-line: rgba(0, 0, 0, 0.1);

$form-border: #e7e7e7;

$tmp-border1: 1px solid rgba(115, 255, 71, 0.95);
$tmp-border2: 1px solid rgba(32, 84, 255, 0.95);
$tmp-border3: 1px solid rgba(255, 132, 27, 0.95);
